{{!-- <section>
  <h2>Hello World</h2> --}}
{{!-- 
  <form class="new-post-form">
    <div>
      <label for="post-title">Title</label>
      <input type="text" id="post-title" name="post-title" />
    </div>
    <div>
      <label for="content">Link</label>
      <input id="content" name="content" />
    </div>
    <button type="submit" class="btn">Create</button>
  </form> --}}
{{!-- </section> --}}

{{#if posts.length}}
<section>
  <h2>Your Posts</h2>
  <ol>
    {{#each posts as |post|}}
    <li>
      {{> post-info post}}
    </li>
    {{/each}}
  </ol>
</section>
{{/if}}

<button type="submit" class="btn" href="/dashboard/add/" id="new-post-form">New Post</button>

{{!-- <script src="/public/javascript/add-post.js"></script> --}}