{{#if posts.length}}
<section>
  <h2>Your Posts</h2>
  <ol>
    {{#each posts as |post|}}
    <li>
      {{> post-info post}}
    </li>
    <a href="/dashboard/edit/{{post.id}}"><button class="button">Edit Post</button></a>
    {{/each}}
  </ol>
</section>
{{/if}}

<a href="/dashboard/add">
    <button type="submit" class="btn">New Post</button>
</a>
